.Games-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 1350px;
    margin: auto;
}

.Games-description {
    display: flex;
    flex-direction: column;
    width: 475px;
    height: 250px;
    margin-top: 90px;
}

.Games-logo {
    width: 100%;
    margin: auto;
}

.Games-descriptionText {
    font-size: 18px;
    line-height: 28px;
    margin-top: 25px;
    text-align: justify;
    font-family: 'MainFont-bold';
    color: var(--font-color);
}

.Games-image {
    height: 430px;
    margin-top: 200px;
}
.Games-imageFrame {
    width: 806px;
    height: 472px;
    margin-left: -830px;
    margin-top: 180px;
}