.Games-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1350px;
    margin: auto;
    margin-top: -50px;
}

.Games-description {
    display: flex;
    flex-direction: column;
    width: 475px;
    height: 250px;
    margin-top: 90px;
}

.Games-logo {
    width: 100%;
    margin: auto;
}

.Games-descriptionText {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    font-family: 'MainFont-bold';
    color: var(--font-color);
    width: 90%;
    margin: auto;
    margin-top: 25px;
}

.Games-image {
    height: 430px;
    margin-top: 140px;
}
.Games-imageFrame {
    width: 806px;
    height: 472px;
    margin-left: -874px;
    margin-top: 120px;
}


.Games-screenshotsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1350px;
    margin: auto;
    margin-top: 75px;
}

.Games-screenshot {
    width: 100%;
}

.Games-screenshotFrameContainer {
    width: 246px;
}

.Games-screenshotFrame {
    width: 275px;
    height: 175px;
    left: -13px;
    top: -166px;
    position: relative;
}

.Games-trailer {
    width: 1143px;
    height: 643px;
    margin: auto;
    margin-top: -30px;
    position: relative;
    z-index: 1;
}

.Games-trailerFrame {
    width: 1187px;
    height: 685px;
    left: -20px;
    top: -672px;
    position: relative;
}

.Games-steamButton {
    background-image: url('/img/LongButton_Normal.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 75px;
    line-height: 75px;
    text-align: center;
    text-decoration: none;
    font-family: 'MainFont-heavy';
    font-size: 28px;
    color: var(--font-color);
    margin: auto;
    margin-top: 150px;
    cursor: pointer;
}
.Games-steamButton a {
    text-decoration: none;
    color: var(--font-color);
}
.Games-steamButton a:visited {
    color: var(--font-color);
}
.Games-steamButton:hover {
    background-image: url('/img/LongButton_Hover.png');
}
.Games-steamButton:active {
    background-image: url('/img/LongButton_Pressed.png');
}

.Games-screenshotArrow {
    height: 50px;
    margin-top: 50px;
    cursor: pointer;
}