/* Global styles
---------------------------------------*/
@font-face {
    font-family: 'MainFont-regular';
    src: url('/fonts/GenJyuuGothic-Regular.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'MainFont-heavy';
    src: url('/fonts/GenJyuuGothic-Heavy.ttf'); /*URL to font*/
}
@font-face {
    font-family: 'MainFont-bold';
    src: url('/fonts/GenJyuuGothic-Bold.ttf'); /*URL to font*/
}


:root {
    --font-color: #612A1B;
}
  

html {
    font-family: 'MainFont-regular';
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-image: url('img/background.png');
    background-repeat: repeat;
    font-family: 'MainFont-regular';
    color: var(--font-color);
}



/* Header
---------------------------------------*/
header {
    background-color: #FFF7E9;
}

.Header-container nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 30px;
}

.Header-container {
    display: flex;
    justify-content: space-between;
    width: 1050px;
    margin: auto;
}

.Header-button {
    background-image: url('/img/Button_Normal.png');
    background-position: center;
    background-size: contain;
    width: 123px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    text-decoration: none;
    font-family: 'MainFont-heavy';
    font-size: 28px;
    color: var(--font-color);
}
.Header-button a {
    text-decoration: none;
    color: var(--font-color);
}
.Header-button a:visited {
    color: var(--font-color);
}
.Header-button:hover {
    background-image: url('/img/Button_Hover.png');
}
.Header-buttonActive a {
    text-decoration: none;
    color: var(--font-color);
}
.Header-buttonActive a:visited {
    color: var(--font-color);
}
.Header-buttonActive:hover {
    background-image: url('/img/Button_Hover.png');
}

.Header-buttonActive {
    background-image: url('/img/Button_Pressed.png');
    background-position: center;
    background-size: contain;
    width: 123px;
    height: 65px;
    line-height: 65px;
    text-align: center;
    text-decoration: none;
    font-family: 'MainFont-heavy';
    font-size: 28px;
    color: var(--font-color);
}

.Header-logo {
    height: 65px;
    margin: 10px 30px;
    padding-top: 10px;
}

.Header-divider {
    width: 100%;
    height: 7px;
    background-color: #612A1B;
}

.Header-links {
    display: flex;
    flex-direction: column;
    padding-top: 16px;
}

.Header-links .Header-iconContainer {
    display: flex;
    justify-content: space-between;
    width: 175px;
}

.Header-links .Header-linkIcons {
    width: 35px;
}



/* Body
---------------------------------------*/
.Body {
    flex-grow: 1;
}



/* Footer
---------------------------------------*/
footer {
    height: 20px;
    flex-shrink: 0;
    margin: auto;
}